codeshelf.remotelog.ipaddress=elastic1
codeshelf.remotelog.port=56445
api.port=8181
log.socket.enable=true
log.socket.host=elastic1
log.socket.port=56446
log.console.enable=false

# Misc global settings
com.gadgetworks.memorydebug=false 
user.language=en
user.country=US
jsse.SSLEngine.acceptLargeFragments=true
javax.net.debug=none
websocket.debug=false
console.appender=org.apache.log4j.varia.NullAppender
websocket.idle.kill=true

# manager db
manager.db.schema=manager_{{ inventory_hostname }}
manager.db.username=codeshelf
# default shard db
shard.default.db.admin_username=codeshelf
# default tenant
tenant.default.schema={{ inventory_hostname }}
tenant.default.username=codeshelf

{% if inventory_hostname == 'stage' or inventory_hostname == 'test' %}
manager.db.url=jdbc:postgresql://pgtest:5432/database
manager.db.password=golbwomgkneomqi
shard.default.db.url=jdbc:postgresql://pgtest:5432/database
shard.default.db.admin_password=golbwomgkneomqi
tenant.default.password=golbwomgkneomqi
{% else %}
manager.db.url=jdbc:postgresql://dbmaster:5432/database
manager.db.password=medrogarkinagife
shard.default.db.url=jdbc:postgresql://dbmaster:5432/database
shard.default.db.admin_password=medrogarkinagife
tenant.default.password=medrogarkinagife
{% endif %}
metrics.adminserver=true
metrics.reporter.enabled=true
metrics.reporter.interval=10
metrics.reporter.backoff=60
metrics.reporter.serverurl=http://hadoop1:4242/

{% if inventory_hostname == 'betelgeuse' %}
# facility.sequencer=BayDistanceTopLast
facility.sequencer=BayDistance
{% else %}
facility.sequencer=BayDistance
{% endif %}

{% if inventory_hostname == 'aldebaran' or inventory_hostname == 'stage' %}
facility.housekeeping.baychange=None
facility.housekeeping.repeatposition=ContainerAndCount
{% endif %}

{% if inventory_hostname == 'test' or inventory_hostname == 'stage' or inventory_hostname == 'aldebaran' %}
adminserver.schemamanagement=true
{% else %}
adminserver.schemamanagement=false
{% endif %}

auth.cookie.secure=true

