codeshelf.remotelog.ipaddress={{ cluster_log_host }}
codeshelf.remotelog.port={{ cluster_log_port }}
api.port=8181
log.socket.enable=true
log.socket.host={{ cluster_log_host }}
log.socket.port={{ cluster_log_socket }}
log.console.enable=false

# Misc global settings
com.gadgetworks.memorydebug=false 
user.language=en
user.country=US
jsse.SSLEngine.acceptLargeFragments=true
javax.net.debug=none
websocket.debug=false
console.appender=org.apache.log4j.varia.NullAppender
websocket.idle.kill=true

# manager db
manager.db.schema={{ codeshelf_manager_schema }}
manager.db.username=codeshelf
# default shard db
shard.default.db.admin_username=codeshelf
# default tenant
tenant.default.schema={{ codeshelf_default_schema }}
tenant.default.username=codeshelf

manager.db.url=jdbc:postgresql://{{ codeshelf_database_host }}:5432/database
manager.db.password=medrogarkinagife
shard.default.db.url=jdbc:postgresql://{{ codeshelf_database_host }}:5432/database
shard.default.db.admin_password={{ codeshelf_database_master_password }}
tenant.default.password={{ codeshelf_database_master_password }}

metrics.adminserver=true
metrics.reporter.enabled=true
metrics.reporter.interval=10
metrics.reporter.backoff=60
metrics.reporter.serverurl=http://{{ cluster_metric_host }}:{{ cluster_metric_port }}/

facility.sequencer=BayDistance

auth.cookie.secure=true
auth.cookie.domain=
auth.baseurl=https://{{ codeshelf_base_hostname }}
# authentication
auth.token.secret={{ appserver_hmac_secret }}
auth.token.xor={{ appserver_hmac_xor }}
auth.cookie.domain=
auth.cookie.secure=false
auth.cookie.maxagehours=24
auth.session.maxfutureseconds=30
auth.session.maxidleminutes=10
auth.session.minidleminutes=5

edi.sftp.password_key={{ appserver_sftp_password_key }}

mail.username={{ appserver_mail_username }}
mail.password={{ appserver_mail_password }}

