/.ssh/
/.rnd
/.rackspace_cloud_credentials
/.bash*
/.ansible/
/dbb/
/tmp/
/.viminfo
/log/
/.novaclient/
/.profile
*.retry
/.ansible/
/.nano_history
/.lesshst
/.pip/
/sitecon/home/
/bigfiles/
*.jks
*id_rsa
/release/
*.swp
.joe_state
/backup/data/
.joerc
.pgpass
/.vim/
/group_vars/all

