.login_body {
  background-color: #000;
}
.main_body {
  background-color: #f0f0f0;
}
.background_image {
  width: 99.9%;
  position: absolute;
  top: 0;
  left: 0;
}
.dialog {
  background-color: #f0f0f0;
  border: 1px solid #bbb;
}
.rotate {
  float: left;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  writing-mode: tb-rl;
  filter: flipv fliph;
}
#loginPanel {
  position: absolute;
  top: 20%;
  left: 10%;
}
#loginPanel form {
  margin-top: 25px;
}
#loginPanel .control-label {
  width: 100px;
}
#loginPanel .controls {
  margin-left: 120px;
}
#logoBox {
  top: 175px;
  left: -140px;
  position: absolute;
}
.codeshelfLogo {
  font-size: 120px;
  color: #bbb;
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  line-height: 100%;
  margin-top: 3px;
  text-transform: lowercase;
  letter-spacing: -0.06em;
}
.dialogLabel {
  font-size: 13px;
  color: #646464;
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  line-height: 100%;
  margin-top: 5px;
  margin-bottom: 2px;
}
.dialogField {
  font-size: 13px;
  color: #646464;
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  line-height: 100%;
  margin-top: 5px;
  margin-bottom: 2px;
  background-color: #f0f0f0;
  border: 0;
}
.windowLabel {
  font-size: 13px;
  color: #646464;
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  line-height: 100%;
  margin-top: 5px;
  margin-bottom: 2px;
}
.windowField {
  font-size: 13px;
  color: #646464;
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  line-height: 100%;
  margin-top: 5px;
  margin-bottom: 2px;
  background-color: #ccc;
  border: 0;
}
.infoPopup {
  font-size: 10px;
  color: #646464;
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  line-height: 100%;
  margin-top: 5px;
  margin-bottom: 2px;
}
.infoPopupLink {
  font-size: 10px;
  color: #00f;
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  line-height: 100%;
  margin-top: 5px;
  margin-bottom: 2px;
}
.frame {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 1602px;
  height: 702px;
  border: 1px solid #bbb;
  background-color: #f0f0f0;
}
.window {
  position: absolute;
  left: 125px;
  top: 25px;
  width: 600px;
  height: 500px;
  background-color: #aaa;
  border: 2px solid #969696;
  font: bold 11px/18px arial;
  overflow: hide;
  box-orient: vertical;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-box;
  -ms-box-orient: vertical;
}
.windowBar {
  width: 100%;
  height: 20px;
  background-color: #2d5f8a;
  cursor: pointer;
  color: #fff;
}
.windowBar-selected {
  width: 100%;
  height: 20px;
  background-color: #428bca;
  cursor: pointer;
}
.windowContent {
  width: 100%;
  height: 100%;
  box-orient: vertical;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-box;
  -ms-box-orient: vertical;
  box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  overflow: hidden;
}
.windowFooter {
  width: 100%;
  height: 10px;
  background-color: #ccc;
}
.windowResizer {
  position: static;
  float: right;
  height: 10px;
  width: 10px;
  background-color: #ccc;
  border: 1px solid #969696;
  margin-bottom: 3px;
  margin-right: 1px;
  cursor: se-resize;
}
.toolbar {
  position: relative;
  box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  overflow: hidden;
  box-orient: horizontal;
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-box;
  -ms-box-orient: horizontal;
}
div.jquery-drag-to-select {
  background: #def;
  display: none;
  opacity: .3;
  filter: alpha(opacity=30);
  z-index: 10;
  border: 1px solid #369;
}
div.jquery-drag-to-select.active {
  display: block;
}
.selected {
  border-color: #f90;
  border-width: 1px;
  border-style: solid;
}
.block {
  position: absolute;
  left: 0;
  top: 0;
  width: 125px;
  height: 20px;
  font: bold 11px/18px arial;
  background-color: #aaa;
  color: #eee;
  text-align: center;
  border: 1px solid #666;
}
.cell-title {
  font-weight: bold;
}
.cell-effort-driven {
  text-align: center;
}
.cell-selection {
  border-right-color: silver;
  border-right-style: solid;
  background: #f5f5f5;
  color: gray;
  text-align: right;
  font-size: 10px;
}
.cell-updated-success {
  background: #449d44;
}
.cell-updated-fail {
  background: #c9302c;
}
.slick-row.selected .cell-selection {
  background-color: transparent;
}
#myTable {
  box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  overflow: hidden;
  box-orient: vertical;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-box;
  -ms-box-orient: vertical;
}
#myGrid {
  box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  overflow: hidden;
}
.facilityDialog {
  position: relative;
  box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  overflow: hidden;
  box-orient: vertical;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-box;
  -ms-box-orient: vertical;
}
.facilityEditor {
  position: relative;
  box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  overflow: hidden;
  box-orient: horizontal;
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-box;
  -ms-box-orient: horizontal;
}
.facilityMap {
  box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  overflow: hidden;
}
.facilityEditorToolbar {
  width: 36px;
  background: #aaa;
  overflow: hidden;
}
.facilityEditorTool {
  position: relative;
  width: 36px;
  height: 36px;
}
.facilityEditorToolIcon {
  position: absolute;
  top: 2px;
  left: 2px;
  background: #666;
}
.workAreaEditor {
  position: relative;
  box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  overflow: hidden;
  box-orient: vertical;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-box;
  -ms-box-orient: vertical;
}
.workAreaEditorPane {
  position: relative;
  cursor: crosshair;
  box-flex: 2;
  -moz-box-flex: 2;
  -webkit-box-flex: 2;
  -ms-box-flex: 2;
  overflow: hidden;
  box-orient: vertical;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-box;
  -ms-box-orient: vertical;
}
.ediServicesView {
  position: relative;
  box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  overflow: hidden;
  box-orient: vertical;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-box;
  -ms-box-orient: vertical;
  background-color: #ccc;
}
.modal-window-ironmqcredentials .modal-dialog {
  width: 650px;
}
.icon {
  height: 16px;
  width: 16px;
  background-image: url(../images/toolbar_icons.gif);
  background-repeat: no-repeat;
  vertical-align: middle;
}
.goog-edit-font .goog-toolbar-menu-button-caption {
  color: #246;
  width: 15ex;
  overflow: hidden;
}
.goog-edit-font-normal {
  font-family: Arial,sans-serif;
}
.goog-edit-font-times {
  font-family: Times,serif;
}
.goog-edit-font-courier {
  font-family: "Courier New",Courier,monospace;
}
.goog-edit-font-georgia {
  font-family: Georgia,serif;
}
.goog-edit-font-trebuchet {
  font-family: "Trebuchet MS",sans-serif;
}
.goog-edit-font-verdana {
  font-family: Verdana,sans-serif;
}
.goog-edit-font-size .goog-toolbar-menu-button-caption {
  color: #246;
  width: 5ex;
}
.goog-edit-bold {
  background-position: 0;
}
.goog-edit-italic {
  background-position: -16px;
}
.goog-edit-underline {
  background-position: -32px;
}
.goog-edit-color {
  background-position: -48px;
}
.goog-edit-background {
  background-position: -64px;
}
.goog-edit-style, .goog-edit-insert {
  font-weight: bold;
  color: #246;
}
.goog-edit-link {
  font-weight: bold;
}
.goog-edit-spellcheck {
  font-weight: bold;
  color: #246;
}
.goog-edit-link {
  color: #009;
  text-decoration: underline;
}
.goog-edit-insert-icon {
  background-position: -80px;
  vertical-align: bottom;
}
.goog-edit-insert-caption {
  padding: 0 2px;
  vertical-align: bottom;
}
.goog-edit-list-style {
  background-position: -96px;
}
.goog-edit-align-left {
  background-position: -128px;
}
.goog-edit-align-center {
  background-position: -144px;
}
.goog-edit-align-right {
  background-position: -160px;
}
.goog-menu {
  position: absolute;
  margin: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #999 #999 #ccc;
  padding: 0;
  font: normal 10pt Arial,sans-serif;
  color: #000;
  background-color: #fff;
  cursor: default;
  outline: none;
}
.goog-menuitem {
  margin: 0;
  border: 0;
  padding: 4px 32px 4px 4px;
  color: #000;
  background-color: #fff;
  list-style: none;
}
.goog-menuitem-disabled {
  color: #999;
}
.goog-menuitem-highlight {
  background-color: #e8eef7 !important;
}
.goog-menuseparator {
  position: relative;
  margin: 2px 0;
  border-top: 1px solid #999;
  padding: 0;
  outline: none;
}
.contextMenu {
  background: #fff;
  border: 1px solid gray;
  padding: 2px;
  display: inline-block;
  min-width: 100px;
  -moz-box-shadow: 2px 2px 2px silver;
  -webkit-box-shadow: 2px 2px 2px silver;
  z-index: 99999;
}
.contextMenu li {
  padding: 4px 4px 4px 14px;
  list-style: none;
  cursor: pointer;
  background: url("../images/arrow_right_peppermint.png") no-repeat center left;
}
.contextMenu li:hover {
  background-color: #f5f5f5;
}
.cell-reorder {
  cursor: move;
  background: url("../images/drag-handle.png") no-repeat center center;
}
#navbar-container {
  margin-left: 0;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #999;
}
button#closeme.close {
  padding-right: 3px;
}
