[
{% for apphost in groups['fep'] %}
{% if apphost != 'stage' and apphost != 'test' %}
{
	"host": "{{ apphost }}",
{% if apphost == 'betelgeuse' %}
	"description" : "Dedicated Accu-Logistics Server",
{% else %}
	"description": "App server",
{% endif %}
	"roles": [ "appserver" ]
},
{% endif %}
{% endfor %}


{% for sitecon in groups['sitecon'] %}
{% if hostvars[sitecon]['alert'] == 'yes' %}
{
	"host": "{{ sitecon }}",
	"description": "{{ hostvars[sitecon]['customer'] }} site controller",
	"roles": [ "sitecontroller" ]
},
{% endif %}
{% endfor %}


{% for elastichost in groups['elastic'] %}
{
	"host": "{{ elastichost }}",
	"description": "Elasticsearch node",
	"roles": [ "elasticsearch" ]
}
{% if not loop.last %}
,
{% endif %}
{% endfor %}
]

