
user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
error_log  syslog:server=elastic1,facility=local7 warn;

pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}

http {
    ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers 'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:ECDHE-RSA-RC4-SHA:ECDHE-ECDSA-RC4-SHA:RC4-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!3DES:!MD5:!PSK';
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:50m;
    ssl_session_timeout 5m;
    #ssl_ciphers "EECDH+ECDSA+AESGCM:EECDH+aRSA+AESGCM:EECDH+ECDSA+SHA256:EECDH+aRSA+SHA256:EECDH+ECDSA+SHA384:EECDH+ECDSA+SHA256:EECDH+aRSA+SHA384:EDH+aRSA+AESGCM:EDH+aRSA+SHA256:EDH+aRSA:EECDH:!aNULL:!eNULL:!MEDIUM:!LOW:!3DES:!MD5:!EXP:!PSK:!SRP:!DSS:!RC4:!SEED";

    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    map  $ssl_client_s_dn/$remote_user $auth_user {
         default "-";
         ~/CN=(?<CN>[^/]+) $CN;
    # TODO: match and map basic auth user
    }

    log_format  cslog  '$remote_addr $auth_user [$time_local] $host '
                       '$server_port "$request_method" "$request_uri" "$server_protocol" '
                       '$status $bytes_sent $request_time "$http_user_agent" '
                       '"$http_referer";' ;

    access_log  syslog:server=elastic1,facility=local6  cslog;
    access_log  /var/log/nginx/access.log  cslog;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;
    
    upstream elastic {
{% for elastichost in groups['elastic'] %}
        server {{ elastichost }}:9200;
{% endfor %}
    }

    server {
        listen 80 default_server;

        root /var/www/static/default/;
    }
    server {
        listen 443 default_server ssl;
        ssl_certificate /etc/pki/tls/certs/codeshelfcom.crt;
        ssl_certificate_key /etc/pki/tls/private/codeshelfcom.key;
        add_header Strict-Transport-Security "max-age=31536000; includeSubdomains;";

        root /var/www/static/default/;
    }
{% for staticsite in ['calendar','drive','mail','sites','support','teamcity'] %}
    server {
        listen 443 ssl;
        ssl_certificate /etc/pki/tls/certs/codeshelfcom.crt;
        ssl_certificate_key /etc/pki/tls/private/codeshelfcom.key;
        add_header Strict-Transport-Security "max-age=31536000; includeSubdomains;";

        server_name {{ staticsite }}.codeshelf.com;
        root /var/www/static/{{ staticsite }}/;
    }
{% endfor %}
    server {
        listen 443 ssl;
        ssl_certificate /etc/pki/tls/certs/admin.codeshelf.com.crt;
        ssl_certificate_key /etc/pki/tls/private/admin.codeshelf.com.key;
        add_header Strict-Transport-Security "max-age=31536000; includeSubdomains;";

        ssl_client_certificate /etc/pki/tls/certs/codeshelf-ca.crt;
        ssl_verify_client on;

        server_name admin.codeshelf.com;
        root /var/www/static/admin/;

{% for elastichost in groups['elastic'] %}
        location /{{ elastichost }}/ {
            proxy_pass http://{{ elastichost }}:9200/;
        }
{% endfor %}
{% for apphost in groups['fep'] %}
        location /{{ apphost }}/ {
{% if apphost == 'test' or apphost == 'stage' or apphost == 'aldebaran' or apphost == 'betelgeuse' %}
            proxy_pass http://{{ apphost }}:8181/;
{% else %}
            proxy_pass http://{{ apphost }}:8088/;
{% endif %}
        }
{% endfor %}
{% for sitecon in groups['sitecon'] %}
        location /{{ sitecon }}/ {
            proxy_pass http://home1:{{ hostvars[sitecon].diag_port }}/;
        }
{% endfor %}
    }

    server {
        listen 443 ssl;
        ssl_certificate /etc/pki/tls/certs/kibana.codeshelf.com.crt;
        ssl_certificate_key /etc/pki/tls/private/kibana.codeshelf.com.key;
        add_header Strict-Transport-Security "max-age=31536000; includeSubdomains;";

        ssl_client_certificate /etc/pki/tls/certs/codeshelf-ca.crt;
        ssl_verify_client on;

        server_name kibana.codeshelf.com;
        root /var/www/static/kibana-3.1.0/;

        location /elastic/ {
            proxy_pass http://elastic/;
        }
    }   

    server {
        listen 443 ssl;
        ssl_certificate /etc/pki/tls/certs/grafana.codeshelf.com.crt;
        ssl_certificate_key /etc/pki/tls/private/grafana.codeshelf.com.key;
        add_header Strict-Transport-Security "max-age=31536000; includeSubdomains;";

        ssl_client_certificate /etc/pki/tls/certs/codeshelf-ca.crt;
        ssl_verify_client on;

        server_name grafana.codeshelf.com;
        root /var/www/static/grafana-1.8.1/;

        location /elastic/ {
            proxy_pass http://elastic/;
        }
        location /tsdb/ {
            proxy_pass http://hadoop1:4242/;
        }
    }

    server {
        listen 443 ssl;
        ssl_certificate /etc/pki/tls/certs/tsdb.codeshelf.com.crt;
        ssl_certificate_key /etc/pki/tls/private/tsdb.codeshelf.com.key;
        add_header Strict-Transport-Security "max-age=31536000; includeSubdomains;";

        ssl_client_certificate /etc/pki/tls/certs/codeshelf-ca.crt;
        ssl_verify_client on;

        server_name tsdb.codeshelf.com;

        location / {
            proxy_pass http://hadoop1:4242/;
        }
    }

    server {
        listen 443 ssl;
        ssl_certificate /etc/pki/tls/certs/tc.codeshelf.com.crt;
        ssl_certificate_key /etc/pki/tls/private/tc.codeshelf.com.key;
        add_header Strict-Transport-Security "max-age=31536000; includeSubdomains;";

        ssl_client_certificate /etc/pki/tls/certs/codeshelf-ca.crt;
        ssl_verify_client on;

        server_name tc.codeshelf.com;

        location / {
            proxy_pass http://tc1:8111/;
        }
    }

    server {
        listen 443 ssl;
        ssl_certificate /etc/pki/tls/certs/dev.codeshelf.com.crt;
        ssl_certificate_key /etc/pki/tls/private/dev.codeshelf.com.key;
        add_header Strict-Transport-Security "max-age=31536000; includeSubdomains;";

        ssl_client_certificate /etc/pki/tls/certs/codeshelf-ca.crt;
        ssl_verify_client on;

        server_name dev.codeshelf.com;
        root /var/www/static/dev/;
    }

    server {
        listen 443 ssl;
        ssl_certificate /etc/pki/tls/certs/productivity.codeshelf.com.crt;
        ssl_certificate_key /etc/pki/tls/private/productivity.codeshelf.com.key;
        add_header Strict-Transport-Security "max-age=31536000; includeSubdomains;";

        ssl_client_certificate /etc/pki/tls/certs/codeshelf-ca.crt;
        ssl_verify_client on;

        server_name productivity.codeshelf.com;
        root /var/www/static/productivity/;
    }
{% for apphost in groups['fep'] %}
    server {
        listen 443 ssl;
        ssl_certificate /etc/pki/tls/certs/codeshelfcom.crt;
        ssl_certificate_key /etc/pki/tls/private/codeshelfcom.key;
        add_header Strict-Transport-Security "max-age=31536000; includeSubdomains;";
     
        server_name {{ apphost }}.codeshelf.com;
        root /var/www/{{ apphost }}/;
        index codeshelf.html;

        location /ws/ {
            proxy_pass http://{{ apphost }}:8181/ws/;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
        }

        location /api/ {
            proxy_pass http://{{ apphost }}:8181/api/;
            auth_basic "API access";
            auth_basic_user_file htpasswd;
        }

        location /productivity/ {
            index index.html;
        }
    }
{% endfor %}
}

