description "start and stop the flume service"

start on runlevel [2345]
stop on runlevel [!2345]

env FLUME_ROOT=/opt/flume/
env JAVA_HOME=/usr/java/default
env USER=flume
env LOGFILE=/var/log/flume/daemon.log

respawn
respawn limit 10 5

script
  cd $FLUME_ROOT
  su -c "/opt/flume/bin/flume-ng agent --name {{ ansible_hostname }} --conf conf --conf-file /etc/flume/flume-conf.properties --conf /etc/flume/" $USER > $LOGFILE 2>&1
  
end script

