[Unit]
Description=Codeshelf
After=syslog.target

[Service]
Type=forking
WorkingDirectory=/opt/codeshelf/engine
ExecStart=/usr/bin/bash /opt/codeshelf/codeshelf.engine
User=codeshelf
Group=codeshelf
Restart=always

[Install]
WantedBy=multi-user.target

