[Unit]
Description=HBase
After=syslog.target

[Service]
Type=forking
WorkingDirectory=/opt/hbase/
Environment=JAVA_HOME=/usr/java/default
ExecStart=/opt/hbase/bin/start-hbase.sh
User=hadoop
Group=hadoop

[Install]
WantedBy=multi-user.target

