define host{
	use		linux-box
	host_name	master
	hostgroups	device,linux,nrpe,backup
}

# group=fep
{% for host in groups['fep'] %}
define host{
	use		linux-box
	host_name	{{ hostvars[host]['inventory_hostname'] }}
	hostgroups	device,linux,nrpe,fep
	_publicaddress	{{ hostvars[host]['public_ip'] }}
}
{% endfor %}

# group=sitecon
{% for host in groups['sitecon'] %}
{% if hostvars[host].alert is defined %}
define host{
	use		sitecon-box
	host_name	{{ hostvars[host].inventory_hostname }}
	hostgroups	sitecon
	_sshport	{{ hostvars[host].ansible_ssh_port }}
	_diagport	{{ hostvars[host].diag_port }}
}
{% endif %}
{% endfor %}

# group=db
{% for host in groups['db'] %}
define host{
        use             linux-box
        host_name       {{ hostvars[host]['inventory_hostname'] }}
        hostgroups      device,linux,nrpe,db
}
{% endfor %}

# group=elastic
{% for host in groups['elastic'] %}
define host{
        use             linux-box
        host_name       {{ hostvars[host]['inventory_hostname'] }}
        hostgroups      device,linux,nrpe,elastic
}
{% endfor %}

# group=db
{% for host in groups['www'] %}
define host{
        use             linux-box
        host_name       {{ hostvars[host]['inventory_hostname'] }}
        hostgroups      device,linux,nrpe
}
{% endfor %}

# group=opentsdb
{% for host in groups['hadoop'] %}
define host{
	use		linux-box
	host_name	{{ hostvars[host]['inventory_hostname'] }}
	hostgroups	device,linux,nrpe
}
{% endfor %}

# aws
{% for host in groups['aws'] %}
define host{
        use             linux-box
        host_name       {{ hostvars[host]['inventory_hostname'] }}
        hostgroups      device,linux,nrpe
}
{% endfor %}

