websocket.uri=wss://{{ codeshelf_server }}/ws/
websocket.idle.kill=true
websocket.username={{ ansible_ssh_port }}
websocket.password={{ cred }}

sitecontroller.port=8089

pcapbuffer.enable=true
pcapbuffer.size=655360
pcapbuffer.slack=4096

metrics.reporter.enabled=true
metrics.reporter.interval=60
metrics.reporter.backoff=300
metrics.reporter.serverurl=http://127.0.0.1:4242/

log.console.enable=false
# log.flume.enable=true
log.socket.enable=true
log.socket.port=56446
