websocket.uri=wss://{{ codeshelf_server }}/ws/
websocket.idle.kill=true
websocket.username=5000
websocket.password=0.6910096026612129

sitecontroller.port=8089

pcapbuffer.enable=true
pcapbuffer.size=655360
pcapbuffer.slack=4096

metrics.reporter.enabled=true
metrics.reporter.interval=60
metrics.reporter.backoff=300
metrics.reporter.serverurl=http://127.0.0.1:4242/

console.appender=org.apache.log4j.varia.NullAppender

log.socket.enable=true
log.socket.host=127.0.0.1
log.socket.port=56446
log.console.enable=false
